/* 
    Document   : fbtwit_sliders.css
    Created on : Apr 3, 2012, 10:19:26 AM
    Author     : lmorroni and moldham
    Description:
    Social slider styles
*/

/*
* Social Tabs
*/

#fbSlideOut {
    position:fixed;
    width:410px;
    right:-380px;
    z-index:10001;
}
#fbTab {
    background-image: url(../images/tab-facebook.png);
    background-repeat: no-repeat;        
    float:left;
    height:90px;
    width:32px;
    top:30px;
    position: absolute;
}
#fbSlideContent {
    float:right;
    background-image: url(../images/bg-trans-80.png);
    background-repeat: repeat;
    display: block;
    height: 90px;
    width: 380px;

}
#fbContentPad {
    margin: 10px;
    z-index:108;

}

#twtSlideOut {
    position:fixed;
    width:310px;
    right:-280px;
    z-index:10000;
}
#twtTab {
    background-image: url(../images/tab-twitter.png);
    background-repeat: no-repeat;        
    float:left;
    height:81px;
    width:32px;
    top:125px;
    position: absolute;
}
#twtSlideContent {
    float:right;
    background-image: url(../images/bg-trans-80.png);
    background-repeat: repeat;
    display: block;
    height: 81px;
    width: 280px;
}

.socialTab {
    display: inline;
    margin: 7px;
}
#twtSlideContent #secondary {
    float: left;
    overflow: hidden;
    padding: 25px 0 15px 25px;
    width: 230px;
}
.twitterwidget-title {
    float: left;
    font-size: 14px;
    margin: 12px 0px 0 0;
    text-transform: none;
}
.twitter-avatar {
    float: left;
    margin: 0 0 10px 10px;
    display: block;
}
ul.twitter-content {
    list-style-type: none;
}
li.widget_twitter {
    color: #fff;
    list-style-type: none;
}
li.widget_twitter a {
    color:#4a9ac4;
    text-decoration: none;
}
li.widget_twitter ul li .intent-meta a {
    margin-right: 8px;
    border-bottom: thin dotted #4a9ac4;
}
li.widget_twitter ul li .entry-content {
    margin-top: 8px;
    clear: both;
}
li.widget_twitter a:hover {
    color:#fff;
}
li.widget_twitter ul li {
    margin: 0px 0px 16px 0px;
    list-style-type: none;
}

